@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Start styling */
* {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

button:hover,
input[type='submit']:hover {
  color: black;
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

button,
input[type='submit'] {
  padding: 0.4rem;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgb(0, 0, 0);
  color: white;
  border-radius: 3px;
  margin-right: 0;
}

/* Jika a link tidak ada class reset warnanya jadi hitam */
a:is([class]) {
  color: black;
}

/* Default link color */
a {
  color: #0038ff;
  margin-right: 1rem;
}
button,
a {
  font-weight: 450;
}

a:last-child {
  margin: 0;
}
.hidden {
  display: none !important;
}

.brandName {
  /* 24px */
  font-size: 1.5rem;
  font-weight: 700;
}
a {
  list-style: none;
}

#SignInButton:hover {
  padding: 0.4rem;
  color: white;
  background-color: black;
  border: 1px solid white;
  border-radius: 0.5rem;
  margin-right: 0;
}
#SignInButton {
  padding: 0.4rem;
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-right: 0;
}

#wrapper {
  display: grid;
  grid-template-columns: 20vw 80vh;
}

#left-sidebar {
  padding: 1rem;
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid rgb(0, 0, 0);
}

#left-sidebar > :nth-child(1) {
  margin-bottom: 2rem;
}
.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-routing {
  margin: 1rem 0;
  padding: 0.4rem;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  max-width: fit-content;
  display: flex;
}
