<div class="links-container" id="menu-admin">
    <h3>Menu Admin</h3>
    <a href="/atur-jadwal" target="_blank" class="menu-routing">Atur Jadwal Sidang</a>
    <a href="/add-mhs" target="_blank" class="menu-routing">Edit Entry Mahasiswa</a>
    <a href="/logout" class="menu-routing"><span class="material-symbols-rounded">
            logout
        </span>Log Out</a>
</div>