<div class="links-container" id="menu-dosen">
    <h3>Menu Dosen</h3>
    <a href="menu-dosen" target="_blank" class="menu-routing">Kelola Sidang</a>
    <a href="/logout" class="menu-routing">
        <span class="material-symbols-rounded">
            logout
        </span>
        Log Out</a>
</div>