<div class="links-container" id="menu-mahasiswa">
    <h3>Menu Mahasiwa</h3>
    <a href="/menu-sidang" target="_blank" class="menu-routing">Lihat Jadwal Sidang</a>
    <a href="/daftar-nilai" target="_blank" class="menu-routing">Lihat Daftar Nilai</a>
    <a href="/logout" class="menu-routing"><span class="material-symbols-rounded">
            logout
        </span>Log Out</a>
</div>